// hero section
.hero-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1em 1em;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    '. . . . . .'
    'hero-left hero-left . . . .'
    'hero-left hero-left hero-video hero-video . .'
    'hero-left hero-left hero-video hero-video . .'
    'hero-left hero-left . . hero-right hero-right'
    'hero-intro hero-intro . . hero-right hero-right'
    'hero-intro hero-intro . . hero-right hero-right';
}

.hero-video {
  grid-area: hero-video;
}

.hero-right {
  grid-area: hero-right;
  z-index: 3;
}

.hero-left {
  grid-area: hero-left;
}
.hero-intro {
  grid-area: hero-intro;
  z-index: 2;
}
